[submodule "home/.vim/bundle/FuzzyFinder"]
	path = home/.vim/bundle/FuzzyFinder
	url = git@github.com:vim-scripts/FuzzyFinder.git
[submodule "home/.vim/bundle/L9"]
	path = home/.vim/bundle/L9
	url = git@github.com:vim-scripts/L9.git
[submodule "home/.vim/bundle/ctrlp.vim"]
	path = home/.vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "home/.vim/bundle/vim-colors-solarized"]
	path = home/.vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "home/.vim/bundle/vim-easymotion"]
	path = home/.vim/bundle/vim-easymotion
	url = git@github.com:Lokaltog/vim-easymotion.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "home/.vim/bundle/vim-rails"]
	path = home/.vim/bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "home/.vim/bundle/vim-ruby"]
	path = home/.vim/bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "home/.vim/bundle/vundle"]
	path = home/.vim/bundle/vundle
	url = git@github.com:gmarik/vundle.git
