[submodule "home/.vim/bundle/ctrlp.vim"]
	path = home/.vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "home/.vim/bundle/vim-colors-solarized"]
	path = home/.vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "home/.vim/bundle/vim-rails"]
	path = home/.vim/bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "home/.vim/bundle/vim-ruby"]
	path = home/.vim/bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "home/.vim/bundle/vundle"]
	path = home/.vim/bundle/vundle
	url = git@github.com:gmarik/vundle.git
[submodule "home/.vim/bundle/vim-slim"]
  path = home/.vim/bundle/vim-slim
  url = git@github.com:slim-template/vim-slim
[submodule "home/.vim/bundle/vim-golang"]
  path = home/.vim/bundle/vim-golang
  url = git@github.com:jnwhiteh/vim-golang

